replace (
	k8s.io/api => k8s.io/api release-1.17
	k8s.io/apiextensions-apiserver => k8s.io/apiextensions-apiserver release-1.17
	k8s.io/apimachinery => k8s.io/apimachinery release-1.17
	k8s.io/apiserver => k8s.io/apiserver release-1.17
	k8s.io/cli-runtime => k8s.io/cli-runtime release-1.17
	k8s.io/client-go => k8s.io/client-go kubernetes-1.17.4
	k8s.io/cloud-provider => k8s.io/cloud-provider release-1.17
	k8s.io/cluster-bootstrap => k8s.io/cluster-bootstrap release-1.17
	k8s.io/code-generator => k8s.io/code-generator release-1.17
	k8s.io/component-base => k8s.io/component-base release-1.17
	k8s.io/cri-api => k8s.io/cri-api release-1.17
	k8s.io/csi-translation-lib => k8s.io/csi-translation-lib release-1.17
	k8s.io/gengo => k8s.io/gengo v0.0.0-20190822140433-26a664648505
	k8s.io/heapster => k8s.io/heapster v1.2.0-beta.1
	k8s.io/klog => k8s.io/klog v0.4.0
	k8s.io/kube-aggregator => k8s.io/kube-aggregator release-1.17
	k8s.io/kube-controller-manager => k8s.io/kube-controller-manager release-1.17
	k8s.io/kube-openapi => k8s.io/kube-openapi v0.0.0-20190816220812-743ec37842bf
	k8s.io/kube-proxy => k8s.io/kube-proxy release-1.17
	k8s.io/kube-scheduler => k8s.io/kube-scheduler release-1.17
	k8s.io/kubectl => k8s.io/kubectl release-1.17
	k8s.io/kubelet => k8s.io/kubelet release-1.17
	k8s.io/legacy-cloud-providers => k8s.io/legacy-cloud-providers release-1.17
	k8s.io/metrics => k8s.io/metrics release-1.17
	k8s.io/node-api => k8s.io/node-api release-1.17
	k8s.io/repo-infra => k8s.io/repo-infra v0.0.0-20181204233714-00fe14e3d1a3
	k8s.io/sample-apiserver => k8s.io/sample-apiserver release-1.17
	k8s.io/sample-cli-plugin => k8s.io/sample-cli-plugin release-1.17
	k8s.io/sample-controller => k8s.io/sample-controller release-1.17
	k8s.io/utils => k8s.io/utils v0.0.0-20190801114015-581e00157fb1
)